<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte del día</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <td>Curso</td>
                    <td>Aula</td>
                    <td>Hora</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Programacion I</td>
                    <td>204</td>
                    <td>12:00 - 04:00</td>
                </tr>
                <tr>
                    <td>Programacion I</td>
                    <td>204</td>
                    <td>12:00 - 04:00</td>
                </tr>
                <tr>
                    <td>Programacion I</td>
                    <td>204</td>
                    <td>12:00 - 04:00</td>
                </tr>
                <tr>
                    <td>Programacion I</td>
                    <td>204</td>
                    <td>12:00 - 04:00</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>